body {
    color: #fff;
    background: #111;
}

a {
    padding: 10px;
    color: #bd2e2e
}

a:visited {
    color: #ff0043;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}