body {
  color: #fff;
  background: #111;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: #dcdcdc;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 18px;
  text-decoration: underline wavy #1070c9;
}

.color-header {
  background-image: linear-gradient(to right, #bc4e9c, #f80759);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}